.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link1{
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover,.sidebar-link1:hover{
  background-color: rgb(222, 222, 222);
}
.sidebar-link img{
  height: 27px;
  margin-bottom: 5px;
}
.sidebar-link1 img{
  height: 40px;
  margin-bottom: 5px;
}
.sidebar-link div,.sidebar-link1 div{
  font-family: Robot,arial;
  font-size: 10px;
}